<body>
    <header>       
        <img src="/img/Logo-MercadoLibre-.png" alt="">   
    <nav class="nav-bar">
        <ul>
            <li><a href="#ofertas">Ofertas</a></li>
            <li><a href="#tiendas-oficiales">Tiendas Oficiales</a></li>
            <li><a href="#vender">Vender</a></li>
            <li><a href="#ayuda">Ayuda</a></li>
        </ul>
    </nav>
    <nav class="usuario">
        <ul>
            <li><a href="#crearcuenta">Creá tu cuenta</a></li>
            <li><a href="#ingreso">Ingresá</a></li>
            <li><a href="#mis-compras">Mis compras</a></li>
        </ul>
    </nav>
</header> 
<section id="lastvisit">
    <h2>Basado en tu última visita</h2>
<p><img src="/img/cafetera.jpg" alt="Cafetera Moulinex"></p>
<p>$6.700 40% OFF</p>
<p><img src="/img/mac.jpg" alt="MacBook Pro 2019"></p>
<p>$230.000 20% OFF</p>
<p><img src="/img/samsung.jpg" alt="Samsung Galaxy S10"></p>
<p>$70.500 10% OFF</p>
<p><img src="/img/smart.jpg" alt="SmartTv Samsung 43"></p>
<p>$23.200 5% OFF</p>
</section>
<section id="ofertas">
    <h2>Ofertas</h2>
<p><img src="/img/iphone.jpg" alt="IPhone 15"></p>
<p>$6.000.700 10% OFF</p>
<p><img src="/img/camisa.jpg" alt="Camiseta azul"></p>
<p>$30.000 20% OFF</p>
<p><img src="/img/pantalon.jpg" alt="Pantalón ZARA"></p>
<p>$70.500 10% OFF</p>
<p><img src="/img/cartuchera.jpg" alt="Cartuchera negra"></p>
<p>$23.200 50% OFF</p>
</section>

<footer>
    <section id="pago">
<h4>Pagá con tarjeta o en efectivo</h4>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés
    con tarjeta o efectivo en puntos de pago. ¡Y
    siempre es seguro!</p>
    </section>
    <section>
        <h4> Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés
            envíos gratis en miles de productos. Es un
            beneficio de Mercado Puntos.</p>
    </section>
<section>
    <h4>Seguridad, de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no
        hay nada que no puedas hacer, porque estás
        siempre protegid@.</p>
</section>
    <section>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no
            hay nada que no puedas hacer, porque estás
            siempre protegid@.</p>
    </section>
    <section>    
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>    
    </section>
</footer>
       


