<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Berners Lee</title>
</head>
<body>
  <h1>Berners Lee</h1>
  <hr>
  <img src="/img/whatsapp-image-2021-06-15-at-9.50.22-am.jpeg" alt="Imagen de McFlurry">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolor voluptatem nesciunt ipsa quisquam, laborum, maiores voluptate delectus, odio hic consectetur culpa. 
    Neque odit minus maiores, quibusdam recusandae accusamus soluta.</p>
</body>
</html>