<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<header>
    <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-oTCfJdO8zwDoyHB7j5tktdQq31w6t31GsA&s" alt=""></div>
    <nav>
    <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="/babbage">BABBAGE</a></li>
        <li><a href="/berners-lee">BERNERS LEE</a></li>
    </ul>
</nav>
</header>
<body>
    <h1>Héroes</h1>
    <a href="#lejos"> Ir lejos </a>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laudantium alias 
        esse nam est modi praesentium eius culpa commodi illum, 
        numquam officia architecto et dicta mollitia, enim eveniet? Commodi, excepturi! <p>HolaHola</p> </div>
        <span>Esto no es "span", es una etiqueta</span>
        <h2>Biografía</h2>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium voluptas ab eveniet cupiditate aliquid libero
            aliquam corrupti rem vel? Facilis aut deleniti at enim quidem placeat quisquam tempore vero eius.</div>
<h3>Lista de compras</h3>
<ul type="square" >
<ol>
    <li>Tomate</li>
    <li>Papa</li>
    <li>Lechuga</li>
    <li>Zanahoria</li>
</ol>
</ul>
<h3>Pendientes</h3>
<ol type="a">
    <li>Pera</li>
    <li>Manzana</li>
    <li>Limón</li>
    <li>Naranja</li>
</ol>
<h4 id="lejos">Lejos de casa</h4>

<a href="#arriba">Ir arriba</a>
</body>
</html>