<!DOCTYPE html>
<html lang="es">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/styles/styles.css">
<script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <header>
      <div class="contenedor1">
      <a href=""><img class="logo" src="/img/Logo-MercadoLibre-.png" alt="" /></a>
      <div class="barradeBusqueda">
          <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar productos..." aria-label="Search">
              <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
      </div>  
     <h5 class="primero"> <i class="fa-solid fa-hand-holding-heart"></i>Comprá en cuotas y con tarjeta de crédito</h5>
  </div> 
     <div class="listas">
     <nav class="nav-bar">
          <ul class = "lista1">
              <li><a href="#ofertas">Ofertas</a></li>
              <li><a href="#tiendas-oficiales">Tiendas Oficiales</a></li>
              <li><a href="#vender">Vender</a></li>
              <li><a href="#ayuda">Ayuda</a></li>
          </ul>
      </nav>
      <nav class="usuario">
          <ul class="listaUsuario">
              <li class="signin"><a href="/register">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
              <li class="login"><a href="/login">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
              <li><a href="#mis-compras">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
          </ul>
      </nav>
  </div>
      <div class="burger-menu">
          <i class="fa-solid fa-bars"></i>
          </div>            
  </header>
<form action="/" method="POST" class="form_login">
    <div class="form__box">
      <label class="form__label" for="name">Nombre de usuario</label>
      <input class="form__control" type="text" id="name" name="name" minlength="2" required>
      <span class="error-message" id="name-error"></span>
    </div>

      <div class="form__box">
        <label class="form__label" for="password">Contraseña</label>
        <input class="form__control" type="password" id="password" name="password" minlength="8" required>
        <span class="error-message" id="name-error"></span>
      </div>
  <!-- hacer que nos lleve a la página principal -->
    <div class="form__box--buttons">
      <button type="submit">Enviar</button>
    </div>
  </form>

  <footer>
    <section class="pago">
        <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <h6>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
            en puntos de pago. ¡Y siempre es seguro!
        </h6>
    </section>
    <section class="envio">
        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <h6>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
            de productos. Es un beneficio de Mercado Puntos.
        </h6>
    </section>
    <section class="seguridad">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <h6>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.
        </h6>
    </section>
    <section class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>
</body>