*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }
/* micro2: */

section name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    @media (max-width 360){
           /* acá va "main" o section creo*/  .article{
            flex: 0 1 100%;
        }
    }

    @media (min-width 361){
       /* acá va "main" o section creo*/ .article{
        flex: 0 1 48%;
        }
    }

    @media (min-width 768){
           /* acá va "main" o section creo*/  .article{
flex: 0 1 23%;
        }
    }

    /* micro3: chequear cómo están llamados las secciones en mi proyecto */
    

    .logo {
        flex: 0 1 50%;

    }

    .nav-bar{
        flex: 0 1 50%;
    }

    /* micro4: modificaciones para que se parezca más al mockup::after
    - añadir flex a los productos para que se vean como el mockup
    - buscar cómo añadir barra de busqueda
    - buscar imagen que está en el banner */ 

